@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    
.form {
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    background: linear-gradient(to bottom right,#ffb8e2, #a5ecf1  );
    position: relative;
    top: 10px;
}

.createform {
    min-width: 200px;
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 2%;
    background: linear-gradient(to bottom right,#ffb8e2, #a5ecf1  );
}

form .container {
    /* display: -webkit-flex; */
    display: flex;

    /* -webkit-justify-content: space-around; */
    justify-content: space-around;

    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: "Playfair Display", serif;
    color: #3e403f;
}

.input-item {
    color: rgb(0, 0, 0);
    margin-left: 0px;
    padding: 16px 0px 15px 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
}

input[class~="form-control"] {
    width: 350px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: "Abel", sans-serif;
    color: #5e6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

input[id="txt-input"] {
    width: 250px;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


.log-in {
    position: relative;
    left: -7%;
    background: #55dfc3;
    font-size: 20px;
    color: black;
    padding-bottom: 40px;
}

.submits {
    width: 60%;
}

.sign-up {
    background: #55dfc3;
    font-size: 18px;
    margin-top: 10px;
}

.other {
    margin-top: 10px;
}


button:hover {
    opacity: 0.8;
    box-shadow: none;
}

#myNavbar {
    border: 1px solid black;
    background: #200d22;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    opacity: 0.9;
    background-color: white;
}

.navbar-right {
    position: relative;
    right: 1%;
}

.btn-index {
    width: 100px;
    display: inline;
}

ul,
ol,
li,
p {
    width: 750px;
    position: relative;
    left: 2%;
    font-weight: bold;
    font-size: 20px;
}

.content {
    position: relative;
    top: 100px;
    margin: auto;
    width: 800px;
    min-height: 200px;
    color: rgb(34, 18, 33);
    overflow-wrap: break-word;
}
.content2 {
    position: relative;
    top: 5vh;
    margin: auto;
    width: 800px;
    min-height: 200px;
    border: 2px solid black;
    color: rgb(34, 18, 33);
    overflow-wrap: break-word;
}

.images {
    height: 200px;
    width: 250px;
}

.btn-link {
    position: relative;
    left: -11%;
    color: black;
}

.sidebar {
    padding: 1px;
    min-width: 14%;
    background-color: #200d22;
    position: fixed;
    top: 7vh;
    z-index: 999;
    height: 100%;
    font-size: 18px;
}

.side_accordian {
    cursor: pointer;
    transition: 0.4s;
}

.sidebar a {
    text-align: center;
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #337ab7;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #337ab7;
    color: white;
}

.acc_disp {
    padding: none;
    display: none;
    background-color: white;
    overflow: hidden;
}

.acc_disp a {
    font-weight: normal;
    color: black;
}
