@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    background: linear-gradient(to bottom right, #ffb8e2, #a5ecf1);
    position: relative;
    top: 10px;
}

.createform {
    min-width: 370px;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 2%;
    background: linear-gradient(to bottom right, #ffb8e2, #a5ecf1);
    font-size: 15px;
}

.deleteform {
    min-width: 100px;
    min-height: 150px;
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 2%;
    background: linear-gradient(to bottom right, #ffb8e2, #a5ecf1);
}

form .container {
    /* display: -webkit-flex; */
    display: flex;

    /* -webkit-justify-content: space-around; */
    justify-content: space-around;

    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: "Playfair Display", serif;
    color: #3e403f;
}

.input-item {
    color: rgb(0, 0, 0);
    margin-left: 0px;
    padding: 16px 0px 15px 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
}

input[class~="form-control"] {
    width: 350px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: "Abel", sans-serif;
    color: #5e6472;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

input[id="txt-input"] {
    width: 250px;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.log-in {
    position: relative;
    left: -7%;
    background: #55dfc3;
    font-size: 20px;
    color: black;
    padding-bottom: 40px;
}

.submits {
    width: 60%;
}

.sign-up {
    background: #55dfc3;
    font-size: 18px;
    margin-top: 10px;
}

.other {
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
    box-shadow: none;
}

#myNavbar {
    border: 1px solid black;
    background: #200d22;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    opacity: 0.9;
    background-color: white;
}

.navbar-right {
    position: relative;
    right: 1%;
}

.btn-index {
    width: 100px;
    display: inline;
}

ul,
ol,
li {
    /* width: 750px; */
    position: relative;
    /* left: 2%; */
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.content1 {
    position: relative;
    top: 100px;
    margin: auto;
    width: 800px;
    min-height: 200px;
    color: rgb(34, 18, 33);
    overflow-wrap: break-word;
}
.content2 {
    position: relative;
    top: 5vh;
    left: 25vw;
    width: 60%;
    min-height: 200px;
    border: 2px solid black;
    color: rgb(34, 18, 33);
    overflow-wrap: break-word;
    padding: 15px 25px;
    text-align: justify;
}

.images1 {
    width: 20%;
}

.images {
    width: 60%;
}

.index_image {
    width: 90%;
    margin-left: 40px;
}

.btn-link {
    position: relative;
    left: -11%;
    color: black;
}

.sidebar {
    padding: 1px;
    min-width: 190px;
    background-color: #200d22;
    position: fixed;
    top: 4vh;
    z-index: 999;
    height: 100vh;
    font-size: 18px;
}

.sidebar a {
    text-align: center;
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    position: relative;
    top: 45px;
}

.side_accordian {
    cursor: pointer;
    transition: 0.4s;
}

.acc_disp {
    padding: none;
    display: none;
    background-color: white;
    overflow: hidden;
}

.acc_disp a {
    font-weight: normal;
}

.sidebar a.active {
    background-color: #337ab7;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #337ab7;
    color: white;
}

.card-text {
    font-size: 15px;
}

.breadcrumb a {
    color: blue;
}

.dp {
    border: 2px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.change_profile {
    position: relative;
    top: -30px;
    left: 27vw;
    color: blue;
    background-color: transparent;
    border: transparent;
}

.form-popup {
    width: 300px;
    display: none;
    position: fixed;
    left: 750px;
    bottom: 100;
    top: 22vh;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.form-popup button {
    width: 100%;
    background-color: transparent;
    border: transparent;
}

#div1 p{
    margin-left: 113px; margin-top: 5px;
}

#div2 p{
    margin-left: 115px;
}

#div3 p{
    margin-left: 127px;
}

@media screen and (max-width: 1024px) {
    
    #myModal
    {
        width: 60%;
        left: 20%;
    }

    .card{
        top: 70px;
    }

    #div1{
        position: relative;
        top: 3.5vh;
    }

    #div1 p{
        padding-top: 4px;
        margin-left: 95px;
    }

    #div2 p{
        margin-left: 105px;
    }

    #div3 p{
        margin-left: 117px;
    }

    .change_profile{
        top: -30px;
        left: 35vw;
    }

    .form-popup{
        top: 10vh;
        left: 45vw;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        top: 4vh;
    }

    .sidebar a {
        padding-top: 10px;
        text-align: center;
        top: 20px;
    }

    .breadcrumb {
        top: 3vh;
    }

    #myModal
    {
        width: 100%;
        left: 0;
    }

    .form-popup{
        top: 19vh;
        left: 45vw;
    }

    .change_profile{
        top: -25px;
        left: 35vw;
    }

    .content2{
        left: 30vw;
    }

    #div1{
        position: relative;
        top: 3.5vh;
    }

    .card{
        min-height: 400px;
        top: 85px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 50px;
        top: 4vh;
        padding-right: 10px;
        text-align: center;
        z-index: 9990;
    }

    .sidebar a {
        display: inline-block;
        padding-top: 10px;
        text-align: center;
        top: 3px;
    }

    .card {
        position: relative;
        left: 2%;
        top: 75px;
        width: 100%;
    }

    .createform{
        width: 100%;
    }

    .change_profile{
        top: -1px;
        left: 33vw;
    }

    .form-popup{
        top: 23vh;
        left: 32vw;
    }

    div.content {
        margin-left: 0;
    }

    
    .breadcrumb {
        top: 6vh;
        left: 0px;
    }

    #myModal
    {
        left: 0;
    }

    #div1{
        position: relative;
        top: 4vh;
    }

    #div1 p{
        margin-left: 70px;
    }

    #div2 p{
        margin-left: 85px;
    }

    #div3 p{
        margin-left: 90px;
    }
}

@media screen and (max-width: 480px){
    .sidebar a {
        padding-top: 10px;
        text-align: center;
    }

    .sidebar {
        position: fixed;
        z-index: 9990;
        top: 4vh;
    }

    div.content {
        margin-left: 0;
    }

    .breadcrumb {
        top: 6.3vh;
        left: 0px;
    }

    .card {
        position: relative;
        top: 40px;
        left: 2%;
        width: 100%;
    }

    .createform{
        width: 100%;
    }

    .change_profile{
        top: -10px;
        left: 30vw;
    }

    .form-popup{
        top: 20vh;
        left: 25vw;
    }
}
